{% set inverse = dashboard.themeOptions.get('inverse', false) %}
{% set nav_display = dashboard.themeOptions.get('nav_display', 'navbar-static-top') %}

<div class="navbar {{ nav_display }}{{ inverse ? ' navbar-inverse' : null }}">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{{ path('zenstruck_dashboard') }}">{{ dashboard.title }}</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{ _self.bootstrap_menu(dashboard.menu('primary'), inverse) }}
                </ul>

                {% set secondaryMenu = dashboard.menu('secondary') %}
                {% if secondaryMenu|length %}
                    <ul class="nav pull-right">
                        {{ _self.bootstrap_menu(secondaryMenu, inverse) }}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% macro bootstrap_menu(menu, inverse = false) %}
    {% for section in menu %}
        {% spaceless %}
            {% if section.extra('flat') %}
                {{ _self.bootstrap_menu_item(section, inverse) }}
            {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {%- if section.extra('icon') %}
                            <i class="{{ section.extra('icon') ~ (inverse ? ' icon-white' : null) }}"></i>
                        {% endif %}
                        {{ section.label|raw }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for item in section %}
                            {{ _self.bootstrap_menu_item(item) }}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endspaceless %}
    {% endfor %}
{% endmacro %}

{% macro bootstrap_menu_item(item, inverse = false) %}
    {% if item.uri %}
        <li>
            <a href="{{ item.uri }}">
                {% if item.extra('icon') %}
                    <i class="{{ item.extra('icon') ~ (inverse ? ' icon-white' : null) }}"></i>
                {% endif %}
                {{ item.label|raw }}
            </a>
        </li>
    {% else %}
    <li class="divider"></li>
    {% endif %}
{% endmacro %}