{% extends manager.layout %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
        {% set column1 = manager.widgets('column1') %}
        {% set column2 = manager.widgets('column2') %}
        {% set column3 = manager.widgets('column3') %}

        {% if not column1|length and not column2|length and not column3|length %}
            <div class="span12">
                {{ _self.widget_column(manager.widgets) }}
            </div>
        {% else %}
            {% if column1|length %}
                <div class="{{ manager.themeOptions.get('column1width', 'span4') }}">
                    {{ _self.widget_column(column1) }}
                </div>
            {% endif %}
            {% if column2|length %}
                <div class="{{ manager.themeOptions.get('column2width', 'span4') }}">
                    {{ _self.widget_column(column2) }}
                </div>
            {% endif %}
            {% if column3|length %}
                <div class="{{ manager.themeOptions.get('column3width', 'span4') }}">
                    {{ _self.widget_column(column3) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% macro widget_column(widgets) %}
    {% for name,widget in widgets %}
        {{ zenstruck_widget(name) }}
    {% endfor %}
{% endmacro %}