<div class="dashboard-widget">
    {% if widget.title %}
        <div class="dashboard-widget-title">
            {{ widget.title }}
        </div>
    {% endif %}

    {% set ajax = 'ajax' == widget.include_type %}

    <div class="dashboard-widget-content{% if ajax %} dashboard-widget-ajax{% endif %}"{% if ajax %} data-url="{{ path(widget.content, widget.params) }}"{% endif %}>
        {% if not ajax %}
            {% if 'template' == widget.content_type %}
                {% include widget.content with widget %}
            {% elseif 'controller' == widget.content_type %}
                {% block widget_controller %}
                    {% if 'hinclude' == widget.include_type %}
                        {{ render_hinclude(controller(widget.content, widget.params)) }}
                    {% elseif 'esi' == widget.include_type %}
                        {{ render_esi(controller(widget.content, widget.params)) }}
                    {% else %}
                        {{ render(controller(widget.content, widget.params)) }}
                    {% endif %}
                {% endblock %}
            {% elseif 'route' == widget.content_type %}
                {% set url = url(widget.content, widget.params) %}
                {% block widget_route %}
                    {% if 'hinclude' == widget.include_type %}
                        {{ render_hinclude(url) }}
                    {% elseif 'esi' == widget.include_type %}
                        {{ render_esi(url) }}
                    {% else %}
                        {{ render(url) }}
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endif %}
    </div>
</div>