<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
            <link href="{{ asset('bundles/zenstruckdashboard/css/twitter.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block menu %}
            {{ render(controller('zenstruck_dashboard.controller:menuAction')) }}
        {% endblock %}
        <div class="container">
            <h1>{{ block('title') }}</h1>
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/zenstruckdashboard/js/helper.js') }}"></script>
            <script>
                $(function() {
                    ZenstruckDashboardHelper.initialize();
                });
            </script>
        {% endblock %}
    </body>
</html>